.showProds{
    margin: 0 auto;
    padding: 2%;
    margin-top:5%;
    width: 50%;
    border: solid 2px grey;
    border-radius: 20px; 
}

.showProds table{
    border: 0px;
    margin: 0 auto;
}
.showProds table td{
    border-radius: 5px;
}

.showProds table tr:nth-child(even) td{
    background: lightgray;
}